<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{books-title-page}">List of all books</title>
    <link rel="stylesheet" href="/css/style.css?v=6">
</head>
<body>

    <h3 th:text="#{lang-switcher-header}">Select language</h3>
    <div class="block">
        <div><a href="#" th:href="@{/(lang=en)}" th:text="#{en-lang-switch-button-caption}">Language - EN</a></div>
        <div><a href="#" th:href="@{/(lang=ru)}" th:text="#{ru-lang-switch-button-caption}">Language - RU</a></div>
    </div>

    <div class="container">
        <div class="position-div">
            <table id="booksTable">
                <thead>
                <tr>
                    <th th:text="#{books-table-header-title}">Title</th>
                    <th th:text="#{books-table-header-author}">Author name</th>
                    <th th:text="#{books-table-header-genre}">Genre name</th>
                    <th>
                        <a class="button-pointer" href="/createbook">
                            <img th:src="@{/img/addicon25.png}" th:alt="#{book-add-title}" />
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            load from js function getBooks()
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="position-div">
            <table id="authorsTable">
                <thead>
                <tr>
                    <th th:text="#{authors-table-header-name}">Author name</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            load from js function getAuthors()
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="position-div">
            <table id="genresTable">
                <thead>
                <tr>
                    <th th:text="#{books-table-header-genre}">Genre name</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            load from js function getGenres()
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <span id="book-delete-title" th:text="#{delete-title}" hidden></span>
    <span id="book-delete-question" th:text="#{book-delete-question}" hidden></span>

    <script src="/js/listbook.js?v=13"></script>
</body>
</html>